<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
                <! -- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<body bgcolor="#eff8f9"></body>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		
	        {{ content }}
                <body bgcolor="#cff0ed"></body>
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:wangchongf123@gmail.com">email</a></li>
        		<li><a href="https://github.com/wangchong386">github.com/wangchong</a></li>
			</ul>
		</footer>
	</body>
</html>
